---
---

@import "{{ site.theme }}";
.wrapper {width: 850px; max-width: 100%;}

/* setting for HTML tables */
.table {border: none;
        background-color: rgba(0, 0, 0, 0.0);}

.dt {background-color:transparent;}

/* settings for div containers */
.container {overflow: hidden;
            margin: 0 auto;
           }

/* settings for div tables */
.divTable {
          margin: 0 auto;
          display: table;  
          max-width: 100%;
          background-color: rgba(0, 0, 0, 0.0);                 
          border-spacing: 5px; 
          }

.divTableBody {
	margin: 0 auto;
	display: table-row-group;
              }

.headRow {
             margin: 0 auto;
	     display: table-row;
             clear: both;
             font-weight: bold;
             }

.divTableRow {
             overflow: hidden;
	     margin: 0 auto;
	     display: table-row;
             clear: both;
             }

.divTableCell {
              float: left;
              display: table-column;                
              background-color: rgba(0, 0, 0, 0.0);  
              margin-right: 10px;
              overflow-wrap: normal;
             }

/* paragraph settings */
.p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

 /* 4 small logos in container */
.logoColumn {
  float: left;
  width: 15%;
  padding: 25px;
}

 /* 1 long logo in container */
.logoColumnlong {
  float: left;
  width: 30%;
  padding: 25px;
}

/* clear floats after logo container */
.logoRow::after {
  content: "";
  clear: both;
  display: table;
} 
