---
---

@import "{{ site.theme }}";
.wrapper {width: 850px; max-width: 100%;}

.table {border: none;
        background-color: rgba(0, 0, 0, 0.0);}

.dt {background-color:transparent;}

.container {overflow: hidden;}

.divTable {
          display: table;  
          width: auto;
          background-color: rgba(0, 0, 0, 0.0);                 
          border-spacing: 5px; /* cellspacing:poor IE support for  this */
          }

.divTableRow {
             display: table-row;
             width: auto;
             clear: both;
             }

.divTableCell {
              float: left; /* fix for  buggy browsers */
              display: table-column;                
              background-color: rgba(0, 0, 0, 0.0);  
              }
p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
}
