---
---

@import "{{ site.theme }}";
.wrapper {width: 850px; max-width: 100%;}

.table {border: none;
        background-color: rgba(0, 0, 0, 0.0);}

.dt {background-color:transparent;}

.container {overflow: hidden;}
